<div class="register-form" *ngIf="isReady else loading" >
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Nombre de la Persona</label>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
        />
        <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
          <div *ngIf="f['name'].errors['required']">El nombre es requerido</div>
        </div>
      </div>
  
     
      <div class="form-group">
        <label>Habilidades</label>
        <select class="form-select"
         multiple
         aria-label="multiple select example"
         formControlName="skills"
         [ngClass]="{ 'is-invalid': submitted && f['skills'].errors }">
         <ng-container *ngFor="let skill of listSkills;let i = index">            
            <option value='{{i}}'>{{skill.name}} </option>           
        </ng-container>
          </select>
      
        <div *ngIf="submitted && f['skills'].errors" class="invalid-feedback">
          <div *ngIf="f['skills'].errors['required']">Es necesarario al menos una habilidad</div>
        </div>
      </div>
  
      <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary me-3">Crear Persona</button>
        <button
          type="button"
          (click)="onReset()"
          class="btn btn-warning float-right"
         >
          Limpiar
        </button>
      </div>
    </form>
  </div>
  <ng-template #loading>
    <div>Loading...</div>
   </ng-template>
